<!DOCTYPE html>
<html>
<head>
<title>Welcome to CircleCI!</title>
<script>
function myClick () {
  text = document.getElementById ("newText");
  text.textContent = "CircleCI";
}
</script>
</head>
<body>
Test page for the button.</br>

<button id="myClick" onclick="myClick()">Click me</button>
<div id="newText"></div>

</body>
</html>

